body {
    background-image: url("white-background3.jpeg");
    background-attachment: fixed;
    background-size: 100%;
}

h1 {
    color: blue;
    font-size: 50px;
    text-align: center;
}

li {
   list-style-type: none;
}

.center {
    text-align: center;
}



.login-container {
    background-color: #d0d0d0;
    text-align: center;
    width: 50%;
    border: 2px solid black;
}

.login-label {
    color: blue;
}

#summary {
    color: dodgerblue;
    font-size: 20px;
    text-align: center;
}

.popup-modal {
    background-color: blue;
    border: 2px solid black;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 200px;
}

.popup-modal:hover {
    background-color: darkblue;
}


.button {
    background-color: dodgerblue;
   /* background-image: url("blue-background2.jpg");
    background-size: 500px;
    background-position: center top;*/
    border: 2px solid black;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    /*transition-duration: 0.4s;*/
    margin: 10px 10px;

}

.button:hover {
    color: white;
    background-color: blue;
    text-decoration: none;
}


.project-page-button {
    width: 100%;
}

.github-page-button {
    width: 50%;
}

.edit-githublink-button {
    width: 30%;
}

.user-page-button {
    width: 25%;
}

.sprint-header-button {
    background-color: dodgerblue;
    /*background-image: url("blue-background2.jpg");*/
    /*background-size: 500px;*/
    /*background-position: center top;*/
    border: 2px solid black;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    /*transition-duration: 0.4s;*/
    margin: 10px 10px;
}

.project-form {
    padding: 100px 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.card-list {
    position: absolute;
    width: 20%;
    overflow-y: scroll;
    top: 56px;
    bottom: 0px;
    left: 0px;
    background-color: lightgray;
    border: 1px solid black;
}

.todo-card-list {
    position: absolute;
    width: 20%;
    overflow-y: scroll;
    top: 150px;
    bottom: 5%;
    left: 21%;
    background-color: lightgray;
    border: 1px solid black;
}

.inprogress-card-list {
    position: absolute;
    width: 20%;
    overflow-y: scroll;
    top: 150px;
    bottom: 5%;
    left: 43%;
    background-color: lightgray;
    border: 1px solid black;
}

.done-card-list {
    position: absolute;
    width: 20%;
    overflow-y: scroll;
    top: 150px;
    bottom: 5%;
    left: 65%;
    background-color: lightgray;
    border: 1px solid black;
}

#CardListTitle {
    text-align: center;
    height: 25px;
    font-size: 20px;
}

.sub-card-list-title {
    text-align: center;
    font-size: 20px;
}

.card {
    width: 100%;
    margin-top:5px;
    margin-bottom: 5px;
}

.sprint-management-scrollbox {
    position: absolute;
    width: 20%;
    overflow-y: scroll;
    right: 0px;
    top: 56px;
    bottom: 0px;
    background-color: white;
    border: 1px solid black;
}

.sprint-management-button {
    width: 20%;
    padding: 100px 10px;
    font-size: 26px;
}

.sprint-button {
    width:75%;
}

.sprint-button-position {
    position: absolute;
    top: 50%;
    right: 0;
}

.sprint-dropdown {
    top: 5px;
}

