{% extends "base.html" %}
{% block content %}
<body>

<h1>Create User Story</h1>

    <div class="container">
    <form align="center" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
             {{ form.title(size=45) }}<br>
        </p>
        <p>
            {{ form.Difficulty.label }}<br>
            {{ form.Difficulty(size=45) }}<br>
        </p>
        <p>
            {{ form.Description.label }}<br>
            {{ form.Description(size=45) }}<br>
        </p>
        <p>
            {{ form.Acceptance_criteria.label }}<br>
            {{ form.Acceptance_criteria(cols="50", rows="10") }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
</body>
