{% extends "base.html" %}
{% block content %}
<body>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="/index">Agility</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/project/{{ project_id }}">Project Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/team/{{ project_id }}">Team Page</a>
        </li>
    </ul>
    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
    </ul>
</nav>


<h1>Sprint Management</h1>

<!-- Product Backlog Sidebar -->
<div class="card-list">

    <div id="CardListTitle">
        Product Backlog
    </div>
    {%  for p in prod_back_ids %}
    <div class="card" draggable="true">
        <div class="card-body">
            <h5 class="card-title">{{ get_title(p|string) }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ get_difficulty(p|string) }}</h6>
            <div class="center">
                <button href='#' id="card" value="{{ p }}" class="popup-modal" onclick="myFunction('{{ get_title(p|string) }}', '{{ get_description(p|string) }}', '{{ get_acceptance_criteria(p|string) }}', '{{ get_difficulty(p|string) }}')"
                        data-toggle="modal" data-target="#CardDetails">View/Edit Card Details</button>
            </div>
        </div>
    </div>

    {% endfor %}

    <a href='#' class="button hvr-shrink"
                        data-toggle="modal" data-target="#CardDetails">+ Add New Card</a>

</div>


    <!-- Card Details Modal -->
<div class="modal fade" id="CardDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <var id
        <!-- Header w/ Card Title -->
        <div class="modal-header">
            <textarea class="form-control" id="title" placeholder="Enter Card Title" style="height:50px"></textarea>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- Body w/ Difficulty, Description, Acceptance Criteria -->
        <div class="container">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Difficulty:</span>
                </div>
                <input type="number" id="Difficulty" class="form-control" aria-label="With textarea" placeholder="Enter Difficulty"></input>
            </div>
            <!-- 2 columns w/ Description and Acceptance Criteria -->
            <div class="row">
                <div class="col">
                    <h5 class="modal-title" id="CardDetails title">Description</h5>
                    <textarea class="form-control" id="Description" placeholder="Enter Description" style="height:500px"></textarea>
                </div>
                <div class="col">
                    <h5 class="modal-title" id="CardDetails title">Acceptance Criteria</h5>
                    <textarea class="form-control" id="Acceptance" placeholder="Enter Acceptance Criteria" style="height:500px"></textarea>
                </div>
            </div>
        </div>
        <!-- Footer w/ "Save Changes" button -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="sprint-management-scrollbox">
    {% for p in sprintids %}
    <a href="/sprint/{{ p }}" class="button sprint-management-button hvr-shrink">{{ getSprintNum(p|string) }}</a>
     {% endfor %}
    <a href="#" class="button hvr-shrink">+ Add New Sprint</a>

</div>


<script>
function myFunction(title, descrip, accept, diff) {
    document.getElementById("title").defaultValue = title;
    document.getElementById("Description").defaultValue = descrip;
    document.getElementById("Acceptance").defaultValue = accept;
    document.getElementById("Difficulty").defaultValue = diff;

}
</script>


<script src="../static/static/js/jquery-3.3.1.js"></script>
<script src="../statio/static/js/popper.js"></script>
<script src="../static/static/js/bootstrap.js"></script>

</body>
{% endblock %}

