<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">

    {#<!-- Bootstrap Grid CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-grid.css">

    <!-- Bootstrap Reboot CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-reboot.css">#}

    <!-- Hover CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/hover-min.css">

    <!-- Style Sheet CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">

    <title>Sprint Page</title>

    <script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev, el) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        el.appendChild(document.getElementById(data));
        PBI(sprint_id);
    }
    </script>

</head>
<body>


<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="/index">Agility</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/project/{{ project_id }}">Project Page</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/sprint_manage/{{ project_id }}">Sprint Management</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/team/{{ project_id }}">Team Page</a>
        </li>
    </ul>
    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
    </ul>
</nav>

<div class="dropdown center sprint-dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sprints
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        {% for p in sprint_ids %}
            <a class="dropdown-item" href="/sprint/{{ p }}">Sprint {{ get_sprint_num(p|string) }}</a>
        {% endfor %}
    </div>
</div>


<div id="div1" class="card-list" ondrop="drop(event, this)" ondragover="allowDrop(event)">
    <div id="CardListTitle">
        Product Backlog
    </div>
    {% for p in prod_back_ids %}
    <div id="drag1" class="card" draggable="true" ondragstart="drag(event)" ondrop="return false" ondragover="return false">
        <div class="card-body">
            <h5 class="card-title">{{ get_title(p|string) }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Difficulty: {{ get_difficulty(p|string) }}</h6>
            <p class="card-text">{{ get_description(p|string) }}</p>
            <div class="center">
                <a href="/Card/{{ p }}">View/Edit Card Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container">
<div id="div2" class="todo-card-list" ondrop="drop(event, this)" ondragover="allowDrop(event)">
    <div class="sub-card-list-title">
        To Do
    </div>
        {% for t in todo %}
        <div id="drag2" class="card" draggable="true" ondragstart="drag(event)" ondrop="return false" ondragover="return false">
        <div class="card-body">
            <h5 class="card-title">{{ get_title(t|string) }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Difficulty: {{ get_difficulty(t|string) }}</h6>
            <p class="card-text">{{ get_description(t|string) }}</p>
            <div class="center">
                <a href="/Card/{{ t }}">View/Edit Card Details</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
</div>

<div class="container">
<div id="div3" class="inprogress-card-list" ondrop="drop(event, this)" ondragover="allowDrop(event)">
    <div class="sub-card-list-title">
        In Progress
    </div>
        {% for i in inprogress %}
        <div id="drag3" class="card" draggable="true" ondragstart="drag(event)" ondrop="return false" ondragover="return false">
        <div class="card-body">
            <h5 class="card-title">{{ get_title(i|string) }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Difficulty: {{ get_difficulty(i|string) }}</h6>
            <p class="card-text">{{ get_description(i|string) }}</p>
            <div class="center">
                <a href="/Card/{{ i }}">View/Edit Card Details</a>
            </div>
        </div>
    </div>
       {% endfor %}
</div>
</div>

<div class="container">
<div id="div4" class="done-card-list" ondrop="drop(event, this)" ondragover="allowDrop(event)">
    <div class="sub-card-list-title">
        Done
    </div>
        {% for d in done %}
        <div id="drag4" class="card" draggable="true" ondragstart="drag(event)" ondrop="return false" ondragover="return false">
        <div class="card-body">
            <h5 class="card-title">{{ get_title(d|string) }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Difficulty: {{ get_difficulty(d|string) }}</h6>
            <p class="card-text">{{ get_description(d|string) }}</p>
            <div class="center">
                <a href="/Card/{{ d }}">View/Edit card details</a>
            </div>
        </div>
    </div>
       {% endfor %}
</div>
</div>

</div>

<!-- Sprint Review Modal -->
<div class="modal fade" id="SprintReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SprintReview title">Sprint Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <textarea class="form-control" id="SprintReview-text" style="height:500px">Met our definition of done. Customer seemed satisified.</textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Sprint Retro Modal -->
<div class="modal fade" id="SprintRetro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SprintRetro title">Sprint Retrospective</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <textarea class="form-control" id="SprintRetro-text" style="height:500px">Work on communication and time management.</textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="sprint-button-position">
    <div class="btn-group-vertical">
        <a href="#" class="button sprint-button hvr-shrink" data-toggle="modal" data-target="#SprintReview">Sprint Review</a>
        <a href="#" class="button sprint-button hvr-shrink" data-toggle="modal" data-target="#SprintRetro">Sprint Retrospective</a>
    </div>
</div>

<script>
function myFunction(title, descrip, accept, diff) {
    document.getElementById("Title").defaultValue = title;
    document.getElementById("Description").defaultValue = descrip;
    document.getElementById("Acceptance").defaultValue = accept;
    document.getElementById("Difficulty").defaultValue = diff;

}


</script>

<script src="../static/js/jquery-3.3.1.js"></script>
{#<script src="../static/js/popper.js"></script>#}
<script src="../static/js/bootstrap.bundle.min.js"></script>

</body>
</html>
