<!DOCTYPE html>
<html>

<head>
<title>W3.CSS</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

<div class="w3-bar w3-blue">
  <a href="#" class="w3-bar-item w3-button w3-hover-blue w3-mobile w3-light-blue w3-ripple w3-border w3-border-black" style="width:33%">Back</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-blue w3-mobile w3-light-blue w3-ripple w3-border w3-border-black" style="width:34%">Home</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-blue w3-mobile w3-light-blue w3-ripple w3-border w3-border-black" style="width:33%">Sign out</a>
</div>

<h1 style="text-align:center; font-size:300%">{{ current_user.username }}</h1>
<h2>{{user}}</h2>
{% for p in names %}
  <div class="w3-container">
    <input type="button" class="w3-btn w3-hover-blue w3-ripple w3-light-blue w3-border w3-border-black w3-jumbo w3-round" value={{p}}>
  </div>

  <br>
  </br>
{% endfor %}

</body>
</html>

